<div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{object.brand}}</h5>
        <p class="card-text">{{object.resolution}}</p>
        {% if object.get_absolute_url not in request.path %}
        <p class="card-text"><a href="{{object.get_absolute_url}}">View</a></p>
        {% endif %}
        <select class="form-control">
            <option> 1 </option>
            <option> 2 </option>
            <option> 3 </option>
            <option> 4 </option>
        </select>
      </div>
    </div>
  </div>